In [1]:
import os

os.chdir("../..")
os.environ["CUDA_VISIBLE_DEVICES"] = "6"

In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
from modular_splicing.knockdown.pipeline import dataset_for_cell_line
from modular_splicing.knockdown.experimental_setting import experimental_settings

In [5]:
cell_lines = ["HepG2", "K562"]
dsets = [dataset_for_cell_line(cell_line=cell_line) for cell_line in cell_lines]
all_motifs = sorted({mot for dset in dsets for mot in dset.index})

In [6]:
frame = pd.DataFrame(
    [[(dset.loc[mot]["SE"].FDR < 0.05).sum() if mot in dset.index else 0 for mot in all_motifs] for dset in dsets],
    columns=all_motifs,
    index=cell_lines,
).T

In [7]:
frame

        HepG2  K562
AARS       16    41
AATF       14     2
ABCF1     124    93
ACO1      204     0
ADAR       26    25
...       ...   ...
XRN2      109   101
YTHDC2      0  1392
ZC3H8     204   435
ZNF622    221     0
ZRANB2     34    34

[244 rows x 2 columns]

In [8]:
frame.to_csv("output-csvs/knockdown-dataset/fdr-less-than-5pct.csv")